
    {% extends "englishmap/base.html" %}
    {% block content %}
    {% load static %}



    <div id="grad2" class="" style="padding: 20px; margin-top: 50px; ">

        <h2>Some useful sources for teachers:</h2>
        <p>
            Books are great, but in the 21 century, web sources have taken a major role in
            education, + they are usually much more affordable than books and are great for
            online studying/teaching.
            There are a plenty of websites with exercises, tests, worksheets, etc. out there,
            these are some that we use and recommend:
        </p>
        <ul>
            <li>
                <a href="https://test-english.com">Test-english.com</a>
                <p>Here you can find lots of grammar tests.</p>
            </li>
            <li>
                <a href="https://learnenglish.britishcouncil.org/grammar">British Council</a>
                <p>Serious materials for every possible topic, I guess.</p>
            </li>
            <li>
                <a href="https://en.islcollective.com/">ISLcollective</a>
                <p>Worksheets and activities. By teachers, for teachers.</p>
            </li>
            <li>
                <a href="https://www.grammar-monster.com/">Grammar Monster</a>
                <p>Thoroughly comprehensive list of grammar terms, test, exercises.</p>
            </li>

        </ul>
        
</div>


{% endblock content %}







