{% extends "englishmap/base.html" %}
{% block content %}
{% load static %}


<div>
<br>
<br>
<br>
<h1>Glossary of terms and topics</h1>
<a class="nav-link" href="{% url 'sample' %}">Sample grammar topic</a>
<hr>

<h4>Here you will find all the topics in the alphabetical order</h4>



{% for letter in alph %}
<h4>
    {{ letter }}
</h4>
<ul>
{% for topic in topics %}

<!-- % with post.name as postletter %} -->
{% if topic.firstletter == letter %}
<li>
    <a class="article-title" href="{% url 'topic-detail' topic.id %}">{{ topic.title }}</a>
</li>
{% endif %}
<!-- { endwidth %} -->

{% endfor %}
</ul>

{% endfor %}

</div>

{% for topic in topics %}
<h3>
    {{ topic.title }}
    <h3><a class="article-title" href="{% url 'topic-detail' topic.id %}">{{ topic.title }}</a></h3>
</h3>
{% endfor %}


{% endblock content %}