{% extends "englishmap/base.html" %}
{% block content %}
{% load static %}


<div id="grad1" style="padding: 20px; margin-top: 50px">

<h1>Glossary of terms and topics</h1>

<hr>

<h4>Here you will find all the topics in the alphabetical order</h4>



{% for letter in alph %}
<h4>
    {{ letter }}
</h4>
<ul>
{% for topic in topics %}


{% if topic.firstletter == letter %}
<li>
    <a class="article-title" href="{% url 'topic-detail' topic.id %}">{{ topic.title }}</a>
</li>
{% endif %}


{% endfor %}
</ul>

{% endfor %}

</div>




{% endblock content %}