
{% extends "englishmap/base.html" %}
{% block content %}
{% load static %}

<div id="grad2" style="padding: 20px; margin-top: 50px">
  

    <h1>Help / FAQ</h1>
    <hr>
        <h2>Q: I don't understand some words!</h2>
        <p>
            Try using <a href="https://translate.google.com/">Google translate</a>.
            <br>
            OR
            <br>
            Try installing <a href="https://chrome.google.com/webstore/detail/google-translate/aapbdbdomjkkjkaonfhkkikfgjllcleb?hl">Google Translate plugin</a>.
        </p>
        <h2>Q: I don't understand anything, help!</h2>
        <p>
            It can be hard for beginners to study on their own, try to find someone who has experience with
            English and ask them to explain you the basics.
        </p>
        <h2>Q: How can I search for a topic on the map?</h2>
        <p>
            Try pressing "ctrl" + "f" (on Windows) or "cmd" + "f" (on Mac) on your keyboard to open the search bar.
        </p>
        <h2>Some button are not working, the elements of the site are not showing properly, etc.</h2>
        <p>
            Make sure that you are using the latest version of one of the leading browsers like 
            Google Chrome (<a href="https://www.google.com/chrome/">Download</a>), 
            Mozilla Firefox (<a href="https://www.mozilla.org/en-US/firefox/new/">Download</a>), etc.
            Or use <a href="{% url 'contacts' %}">this page</a> to send your questions and ideas.
        </p>
     
 
</div>


{% endblock content %}




