


    {% extends "englishmap/base.html" %}
    {% block content %}
    {% load static %}


<div id="grad1">
    <div class="other-pages" >
        <br><br>
        <h1>In the future, all topics will have their own pages with extended desciptions</h1>
        <p>For now, this sample page will give you an idea of how they'll look (sort of)</p>
        <h2>Present Simple Tense</h2>
        <span style="background: rgb(229, 137, 137)">In short:</span>
        <p>
            I swim, He goes to school, she cooks meth
        </p>
        <div>
            <h3>Full Explanation:</h3>
        <p>
                    Some smart text here
        <br>
                    Some more clever explanation here
        <br>
                    Cheatcheet or something:
        <br>
        </p>
        <div>
            <img src="https://amirrorofmind.files.wordpress.com/2018/06/ps.jpg"  style="width: 110%">
        </div>
            
        </div>
        

        <h3>Learn more:</h3>
        <ul>
            <li>
                <a href="https://www.grammar-monster.com/glossary/present_tense.htm">Grammar Monster</a>
            </li>
            <li>
                <a href="https://learnenglish.britishcouncil.org/grammar/english-grammar-reference/present-simple">British council</a>
            </li>
        </ul>

        <h3>Test yourself:</h3>
        <ul>
            <li>
                <a href="https://test-english.com/grammar-points/a1/present-simple/">Test</a>
            </li>
        </ul>
    </div>
</div>

{% endblock content %}



