


    {% extends "englishmap/base.html" %}
    {% block content %}
    {% load static %}




    <div id="grad2" style="padding: 20px; margin-top: 50px;">

    <h1>Support us with one of these actions:</h1>
        <h2><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Click here</a></h2>
        <h2>Dance</h2>
        <p>
            Dance dance
        </p>
        <h2>Clap your hands</h2>
        <p>
            Clap your hands
        </p>
        OR
        <ol>
            <li>Gimme your moneeey</li>
            <li>Click the add </li>
        </ol>
        

        <p>
            (it's a joke, I'll update this page later)
        </p>
        
        

</div>


{% endblock content %}




