{% extends "englishmap/base.html" %}
{% block content %}
{% load static %}


<div id="grad2" style="padding: 20px; margin-top: 50px">


<h2>
    {{ topic.title }}
</h2>    
<span style="color: grey">Topic #{{ topic.id }}</span>
    
    <h4>In short:</h4>
    {{ topic.short|safe }}
    <h4>Explanation:</h4>
    {{ topic.fullest|safe }}

    <h5>Test yourself!</h5>
    {{ topic.test|safe }}
    <h5>Learn even more:</h5>
    {{ topic.add|safe }}
    



</div>

<script>
// document.getElementsByTagName("body").style.backgroundImage = ['linear-gradient']( rgba(207, 106, 106, 0.267) ,rgba(53, 80, 155, 0.253))

</script>

{% endblock content %}